In [ ]:
print("Hello WOrld")

Hello WOrld

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
a=500
print(id(a))

134973056271216

In [ ]:
b=a
print(id(b))

134973056271216

In [ ]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [ ]:
a,b,c = 10,20,30  # variable assignment
print(a,b,c)

10 20 30

In [ ]:
a=10
b=10
c=10
print(a,b,c)

10 10 10

In [ ]:
a=b=c=10 # varaibale assignment
print(a,b,c)

10 10 10

In [ ]:
import keyword as kw

print(keyword.kwlist)  # it list all the keywords in python
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10 # keywords cannot be used as a variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-25-a9b307c5edad>, line 1)

In [ ]:
# multiline comment

""" dkjasdkfaksdjfasdf
asdfasdfasdf
asdfasdfasdfasd
asdfasdfasdfasdf """

print("HI")

HI

In [ ]:
# python String
a= 'Ntt'
print(a)
b ="Data"
print(a,b)

Ntt
Ntt Data

In [ ]:
# multi line string

st = """asdfasdfqwf
sdfasdfasdf
asdfasdfasdf
asdfasdfasdf"""

print(st)

asdfasdfqwf
sdfasdfasdf
asdfasdfasdf
asdfasdfasdf

In [ ]:
# Day3
# creating a simple list

l = [10,20.3,"NTT",3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
# type fn returns the datatype class
a = 3+4j
print(type(a))

<class 'complex'>

In [ ]:
#isinstance

a= 10.0
print(isinstance(a,int))

False

In [ ]:
# variable annotations
name: str = "NTT"
print(name)
print(type(name))

print(__annotations__['name'])

10
<class 'int'>
<class 'str'>

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>
<class 'int'>

In [ ]:
aa=10.22
print(aa)
print(type(aa))

print(__annotations__['aa'])

10.22
<class 'float'>

KeyError: 'aa'

In [ ]:
a=100 #  the following code snippets shows the memory management

print(id(a))

10754024

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>
<class 'int'>

In [ ]:
aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
s = "Bangalore"

print(s[-9:7:1])

Bangalo

In [ ]:
s= "hello, world!"
print(s[-5:2:-2])

o o

In [ ]:
s= "python is fun"

print(s[0:5][::-1])

ohtyp

In [ ]:
# simple  If startement

if 10>15:

  print("start of if")
  print("10 is greater")
  print("end of if")
  print("HI")


print("end of program")

end of program

In [ ]:
# input function

a = input("Enter a value") # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value20.33333
20.33333
<class 'float'>

In [ ]:
# input function with type casting

a = int(input("Enter a value")) # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value20
20
<class 'int'>

In [ ]:
# if else statement

a = int(input("Enter a value"))
b = int(input("Enter b value"))

if a>b:
  print("a is greater")
  print("if block")
else:
  print("b is greater")
  print("else block")

Enter a value5
Enter b value20
b is greater
else block

In [ ]:
# if else ladder

s = input("enetr a color")

if s == "red":
  print("stop")
elif s == "yellow":
  print("ready")
elif s == "green":
  print("go")
else:
  print("invalid color")

enetr a colorpink
invalid color

In [ ]:
text = input("enter a string")  # program to check the palindrome
text = text.lower()

revtext = text[::-1]

if text == revtext:
  print("Palindrome")
else:
  print("Not Palindrome")

enter a stringMalayalam
Palindrome

In [ ]:
# while loop

i=10

while i<15 :
  print(i)
  i=i+1

print("end of while")

10
11
12
13
14
end of while

In [ ]:
# Multiplication Table

num = int(input("Enter a number"))

i=1

while i<=10:
  print(num , "*" , i , "=" ,i*num)
  i=i+1

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# For loop

s = "2025John"

for i in s:
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
J
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [ ]:
#OO_Python
class Dog():
  def __init__(self):
    print("Instance initialized")

dog1 = Dog()
dog2 = Dog()

Instance initialized
Instance initialized

In [ ]:
class Dog():
  def __init__():
    print("Instance initialized")

dog1 = Dog()
dog2 = Dog()

TypeError: Dog.__init__() takes 0 positional arguments but 1 was given

In [ ]:
class Dog():
  # the standard is to use self so it's not confusing for others reading your
  #code
  def __init__(variable_for_self_can_have_any_name):
    print("Instance initialized")

dog1 = Dog()
dog2 = Dog()

Instance initialized
Instance initialized

In [ ]:
class Dog():
  def __init__(self,kind, age, name, vacinated=False):
    self.kind = kind
    self.age = age
    self.name = name

    print("Instance initialized")

dog1 = Dog()

TypeError: Dog.__init__() missing 3 required positional arguments: 'kind', 'age', and 'name'

In [ ]:
class Dog():
  def __init__(self,kind, age, name, vacinated=False):
    self.kind = kind
    self.age = age
    self.name = name
    self.vacinated = vacinated

    print("Instance initialized")

dog1 = Dog('Heart', 40, 'Vijay',True)
#dog1.__dict__

dog1.name, dog1.age

Instance initialized

('Vijay', 40)

In [ ]:
class Dog():
  def __init__(self,kind, age, name, vacinated=False):
    self.kind = kind
    self.age = age
    self.name = name
    self.vacinated = vacinated

    print("Instance initialized")

  def get_details(self):
    return self.kind, self.age, self.name, self.vacinated

dog1 = Dog(kind='Heart', age=40, name='Vijay', vacinated=True)
dog1.get_details()

Instance initialized

('Heart', 40, 'Vijay', True)

In [4]:
# Cathing Exception in python
try:
  user_input = input("please enter an inter :")
  result = 100/int(user_input)
  print("Here is the result:",result)
except ValueError:
  print("Oops an exception was thrown")
print("outside the try/except block")

please enter an inter :vijay
Oops an exception was thrown
outside the try/except block

In [5]:
try:
  user_input = input("please enter an inter :")
  result = 100/int(user_input)
  print("Here is the result:",result)
except (ValueError, ZeroDivisionError):
  print("Oops an exception was thrown")
print("outside the try/except block")

please enter an inter :0
Oops an exception was thrown
outside the try/except block

In [9]:
try:
  user_input = input("please enter an inter :")
  result = 100/int(user_input)
  print("Here is the result:",result)
except ValueError as ve:
  print("Oops an exception was thrown")
  print("Error type", type(ve))
except ZeroDivisionError as ze:
  print("Oops an exception was thrown")
  print("Error type",type(ze))
print("outside the try/except block")

please enter an inter :vijay
Oops an exception was thrown
Error type <class 'ValueError'>
outside the try/except block

In [12]:
issubclass(ValueError, Exception)
issubclass(ZeroDivisionError, Exception)

True

In [15]:
try:
  user_input = input("please enter an inter :")
  result = 100/int(user_input)
  print("Here is the result:",result)
except(Exception):
  print("Oops an exception was thrown")
print("outside the try/except block")

please enter an inter :5
Here is the result: 20.0
outside the try/except block

In [17]:
# Python Modules
import math
print("pi", math.pi)

pi 3.141592653589793

In [19]:
import os
print(os.getcwd())

/content

In [23]:
from os import path
path.isdir('cwd')

False

In [24]:
import pandas as pd
data = [['lex',54], ['leela',25],['alex',28]]
df = pd.DataFrame(data, columns=['Name','Age'])
df

    Name  Age
0    lex   54
1  leela   25
2   alex   28